altgraph==0.17.5
attrs==26.1.0
colorama==0.4.6
iniconfig==2.3.0
numpy==2.5.1
opencv-python-headless==5.0.0.93
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pluggy==1.6.0
psd-tools==1.17.4
Pygments==2.20.0
pyinstaller==6.22.0
pyinstaller-hooks-contrib==2026.6
pytesseract==0.3.13
pytest==9.1.1
python-qt5==0.1.10
pywin32-ctypes==0.2.3
scipy==1.18.0
setuptools==84.0.0
typing_extensions==4.16.0
